mixin makeoutlook(name, tier, hold, status)
		+text-input('name')(data-i18n-placeholder=name).faction-name
		+text-input(`${name}_tier`)(data-i18n-placeholder=`${tier}`).faction-tier
		+text-input(`${name}_hold`)(data-i18n-placeholder=`${hold}`).faction-hold 
		+number-input(`${name}_status`)(value=`${status}`).faction-status
		+checkbox('expand').expand
		+textarea(`${name}_notes`)(data-i18n-placeholder='faction_notes')
		.col100.itemcolumn.small-margin
			.itemheader.small-margin.col100.flex
				.label(data-i18n='boons')
			.regularitems.col100.free-repcontrol
				.item
					+autoexpand('level_1')(data-i18n-placeholder='level_1').itemname
				+makeboon(`${name}_boon_1`)
				+makeboon(`${name}_boon_2`)
				+makeboon(`${name}_boon_3`)
				.item
					+autoexpand('level_2')(data-i18n-placeholder='level_2').itemname
				+makeboon(`${name}_boon_4`)
				+makeboon(`${name}_boon_5`)
				+makeboon(`${name}_boon_6`)
				.item
					+autoexpand('level_3')(data-i18n-placeholder='level_3').itemname
				+makeboon(`${name}_boon_7`)
				+makeboon(`${name}_boon_8`)
				+makeboon(`${name}_boon_9`)
				.item
					+autoexpand('level_4')(data-i18n-placeholder='level_4').itemname
				+makeboon(`${name}_boon_10`)
				+makeboon(`${name}_boon_11`)
				+makeboon(`${name}_boon_12`)
				
		// .specialheader.col100.label(data-i18n='boons')

mixin makeboon(boon)
		.item
			+checkbox(`${boon}_check_1`).checkbox.squarebox
			+autoexpand(`${boon}_name`)(data-i18n-placeholder=`${boon}`).itemname
		
// Faction Sheet
+hidden-input('setting_clocks_only')(value='0').input-clocks-only
.type-faction.flex-wrap
	.factiontitle.flex.col100
		+text-input('factions_title', 'factions_title').label
		//- +hidden-input('show_faction_generatebutton')(value='1').hider
		//- label.generatebutton
		//- 	+checkbox('generate_factions')(data-i18n='generate_factions')
		+fortuneroll('Fortune_faction', '{{fortune=1}} {{title=^{fortune}}} {{short=1}} {{charname=}}', true)(data-i18n='roll_fortune').fortunebutton.borderbutton
	.factions.flex.free-repcontrol
		.col24b
			.factions-header.flex.uppercase
				+text-input(name='outlooks' title='outlooks' data-i18n-placeholder='outlooks').faction-name.label
				span.faction-tier(data-i18n='tier')
				span.faction-hold(data-i18n='hold')
				span.faction-status(data-i18n='status')
			.faction
				+makeoutlook('faction_doomsayers','tier0','strong_hold',0)
				+makeoutlook('faction_herites','tier0','strong_hold',0)
				+makeoutlook('faction_jackers','tier0','strong_hold',0)
				+makeoutlook('faction_lightbringers','tier0','strong_hold',0)

		.col24b
			.factions-header.flex.uppercase
				+text-input('tribals', title).faction-name(data-i18n='tribals').label
				span.faction-tier(data-i18n='tier')
				span.faction-hold(data-i18n='hold')
				span.faction-status(data-i18n='status')
		.col24b
			.factions-header.flex.uppercase
				+text-input('zbri', title).faction-name(data-i18n='zbri').label
				span.faction-tier(data-i18n='tier')
				span.faction-hold(data-i18n='hold')
				span.faction-status(data-i18n='status')
		.col24b
			.factions-header.flex.uppercase
				+text-input('others', title).faction-name(data-i18n='others').label
				span.faction-tier(data-i18n='tier')
				span.faction-hold(data-i18n='hold')
				span.faction-status(data-i18n='status')
			//+makefactions(4, 'factions4').sheet-def-margin
		//- .col24b
		//- 	+makefactions(5, 'factions5')
		//- 	.warblurb.def-margin
		//- 		.label(data-i18n='war')
		//- 		ul
		//- 			li.nondot(data-i18n='warblurb1')
		//- 			li(data-i18n='warblurb2')
		//- 			li(data-i18n='warblurb3')
		//- 			li(data-i18n='warblurb4')
		//- 			li(data-i18n='warblurb5')
	.clocks.col55.free-repcontrol
		.specialheader.label(data-i18n='clocks')
		fieldset.repeating_factionclock
			+makeclock
	.col45.right-column
		+textarea('faction_notes')(data-i18n-placeholder='notes').notes
